body {
  background-image: url(./images/form-background.jpg)
}

.App {
  text-align: center;
}

.own-auth {
  margin-top: 7%;
  
  margin-left: 25%;
  border: 2px solid #ccc;
  border-radius: 8px;
  min-height: 420px;
  min-width: 450px;
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  background-color: 1px 1px 2px 3px rgba(0, 0, 0, 0.5);
};


.error-msg {
  color: white;
  margin-left: 20px;
  max-height: 420px;
};

button {
  font-size: 20px;
}

.welcome-msg {
  color: white;
  text-align: center;
  margin-top: 150px;
}